click==6.6
cycler==0.10.0
Flask==0.11.1
imageio==1.6
imgurpython==1.1.7
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
matplotlib==1.5.3
numpy==1.11.2+mkl
Pillow==3.4.1
pyparsing==2.1.10
python-dateutil==2.5.3
pytz==2016.7
requests==2.11.1
scipy==0.18.1
six==1.10.0
Werkzeug==0.11.11
